%html{lang: "ja"}
  %head
    %meta{charset: "UTF-8"}
      %title curogosho
      %link{href: "stylesheets/curogosho.css", rel: "stylesheet"}
      %script{src: "javascripts/jquery-2.1.4.min.js"}
  %body
    #container
      #debug
      #haku
    %script{src: "javascripts/skrollr.min.js"}
    %script{src: "javascripts/curogosho.js"}