%html{lang: "ja"}
  %head
    %meta{:charset => "UTF-8"}
      %title
      %script{src: "javascripts/jquery-2.1.4.min.js", type: "text/javascript"}
      %link{href: "stylesheets/curogosho.css", rel: "stylesheet"}
  %body
    #container
      #debug
      #haku
    %script{src: "javascripts/skrollr.min.js", type: "text/javascript"}
    %script{src: "javascripts/curogosho.js", type: "text/javascript"}